* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
  background-color: aliceblue;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  height: 80px;
  margin: auto;
  padding: 10px;
}

nav h1 {
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  font-family: cursive;
}

nav div {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

nav button {
  background-color: black;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1607615730926-ac8b276ef46e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNuZWFrZXJzJTIwYmxhY2t8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.hero > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  padding: 10px;
}
.hero div div {
  color: white;
  width: 100%;
  max-width: 500px;
}

.hero h1 {
  font-size: 32px;
  font-weight: 700;
}

.hero p {
  margin: 20px 0;
}

.hero button {
  height: 40px;
  width: 130px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

footer {
  background-color: black;
  padding: 20px 0;
  color: white;
  text-align: center;
}

footer h2 {
  margin-bottom: 15px;
  font-family: cursive;
  font-weight: 700;
  font-size: 25px;
  font-style: italic;
}

.products {
  max-width: 1240px;
  margin: auto;
  padding: 10px;
}

.inner-product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
  gap: 30px;
  justify-content: space-between;
}

.product {
  width: 300px;
  height: 340px;
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
}

.product img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product div {
  height: 30%;
  padding: 15px;
}

.price {
  margin: 5px 0;
}

.contact-hero {
  background-image: url("https://images.unsplash.com/photo-1693852663238-126c16478023?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNvbnRhY3QlMjB1cyUyMGltYWdlfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}

.contact-hero h1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  font-family: cursive;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  margin: 25px auto;
  max-width: 500px;
  width: 100%;
  padding: 10px;
  /* background-color: aliceblue; */
  /* height: 450px; */
  border-radius: 7px;
  box-shadow: 2px 2px 2px grey;
}

form .username {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  /* width: 100%; */
}

.username > div {
  width: 50%;
}

.username input {
  width: 100%;
}

.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
  padding: 10px;
  margin: 15px 0;
  border: 2px solid black;
  border-radius: 10px;
}

.form-control textarea {
  height: 150px;
  outline: none;
}

.form-control button {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 32px;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.success textarea {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control small {
  color: #e74c3c;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
